name: Deploy Pipelines - Release and Publish

# Release Method:
# Only Manual
# Define if it ia a release or an hotfix

# Define if it is a major, minor or path
# E.g. If latest tag is v0.0.0
#      major -> v1.0.0
#      minor -> v0.1.0
#      patch -> v0.0.1
# if is a prerelease name of the branch have to start with 'release-**'
#    set the prerelease input with the right version (alpha, beta, rc) and also the release type (major, minor, patch)
#    E.g. If latest tag is v0.2.0 a possible branch name can be release-test
#         major rc    -> v1.0.0-rc.20240911132220
#         minor beta  -> v0.3.0-beta.20240911132220
#         patch alpha -> v0.2.1-alpha.20240911132220
# NOTE: in case of official release the tag will be in the form vX.Y.Z
#       in case of prerelease the tag will be in the form vX.Y.Z-PRERELEASE_SEMVER.TIMESTAMP

on:
  workflow_dispatch:
    inputs:
      ref:
        required: true
        description: Branch from witch do the release
        type: string
      type:
        required: false
        description: It is a release or an hotfix
        type: choice
        options:
          - release
          - hotfix
      final_release:
        description: It is a final release
        type: boolean
        required: false

concurrency:
  group: ${{ github.workflow }}-cd
  cancel-in-progress: true

permissions:
  pull-requests: write
  contents: write

jobs:
  release:
    runs-on: ubuntu-22.04
    environment: prod-cd
    outputs:
      release_branch: ${{ steps.release.outputs.release_branch }}
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          ref: ${{inputs.ref}}
          fetch-depth: 0
          sparse-checkout: |
            .github
            package.json
            CHANGELOG.md

      - name: Setup Git Config
        run: |
          git config user.name "GitHub Actions Bot"
          git config user.email "<>"

      - name: Install Packages
        run: cd .github/workflows/actions/release && npm install

      - name: Release
        id: release
        uses: ./.github/workflows/actions/release
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          ref: ${{inputs.ref}}
          type: ${{inputs.type}}
          final_release: ${{inputs.final_release}}
          main_branch: main

  build:
    needs: release
    runs-on: ubuntu-22.04
    steps:
      - name: Check-out code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          fetch-depth: 0
          ref: ${{ needs.release.outputs.release_branch }}

      - name: Install Packages
        run: cd .github/workflows/actions/build && npm install

      - name: Setup Node.js
        uses: actions/setup-node@1e60f620b9541d16bece96c5465dc8ee9832be0b # v4.0.3
        with:
          node-version-file: '.node-version'
          cache: 'yarn'
          cache-dependency-path: 'yarn.lock'

      - name: Build
        uses: ./.github/workflows/actions/build
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
